body{
    background-color: #f9f4ef;
    margin: 0px;
    padding: 0px;
}
.bg.primary{
    background-color: #fffffe;

}
.bg-secondry{
    background-color: #eaddcf;
}
.why-choose-btn{
    height: 40px;
    width: 100px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #8c7851;
    color: #fffffe;
    cursor: pointer;
}
.why-choose-btn:hover{
    box-shadow: 0px 0px 5px 4px #8c7851;
}
